@import "src/style/modules";

.search-bar {
    padding: $ix-marg-a;
    flex-shrink: 0;
    padding-bottom: $ix-marg-a + 1px; 
    border-bottom: $ix-border solid $g4-onyx;
    background-color: $g3-castle;
  }